.wrapper{
    margin-left: 40vw;
    margin-top: 20vh;
    margin-right: 20vw;
    width: 20vw;
}
.wrapper img{
    border:2px solid rgb(235, 171, 52);
    width: 20vw;
}
.wrapper .name{
    text-align: center;
    font-family: 'Russo One', sans-serif;
}
.wrapper h1{
    text-align: center;
    color:rgb(235, 171, 52);
    margin-bottom:3vh;
    font-family: 'Abril Fatface', cursive;
}